
<h3>Categories</h3>
<section class="container posts-content">
{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
<h3>{{ category | first }}</h3>
<ol class="posts-list" id="{{ category[0] }}">
{% for post in category.last %}
<li class="posts-list-item">
<span class="posts-list-meta">{{ post.date | date:"%Y-%m-%d" }}</span>
<a class="posts-list-name" href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ol>
{% endfor %}
</section>
<div class="container posts-content">
<a href="https://github.com/huanghu996/boke/tree/master/_posts" title="编辑">编辑</a>
<a href="https://c.163.com/dashboard#/m/nos/detail/?nid=hboke" title="上传">上传</a>
</div>
